<div class='inner-body'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
     <h3 class="panel-title">Registration New Member</h3>
    </div>

      <div class='panel-body'>
        <%= form_for(@user, url: registers_path, :method=>"POST") do |f| %>
        <div class='form-group'>
          <%= f.label "Nama Organisasi","Nama Organisasi", class: 'control-label' %>
          <span class= 'label_required'>*</span>
          <%= f.text_field :nama, class: 'form-control', :required=>true %>
        </div>
        <div class='form-group'>
          <%= f.label "Alamat", "Alamat", class: 'control-label' %>
          <span class= 'label_required'>*</span>
          <%= f.text_area :alamat, class: 'form-control', :required=>true %>
        </div>
        <div class='form-group'>
          <%= f.label "Kota/Kabupaten", "Kota / Kabupaten", class: 'control-label' %>
          <span class= 'label_required'>*</span>
          <%= f.text_field :kota, class: 'form-control', :required=>true %>
        </div>
        <div class='form-group'>
          <%= f.label "e-mail", "E-Mail", class: 'control-label' %>
          <span class= 'label_required'>*</span><span style="color: #A3A3A3; font-style: italic;"> (digunakan untuk login)</span>
          <%= f.email_field :email, class: 'form-control', :required=>true %>
        </div>
        <div class='form-group'>
          <%= f.label "telp", "Telp", class: 'control-label' %>
          <span class= 'label_required'>*</span>
          <%= f.text_field :telp, class: 'form-control', :required => true %>
        </div>
        <div class='form-group'>
          <%= f.label "Fax", "Fax", class: 'control-label' %>
          <%= f.text_field :fax, class: 'form-control' %>
        </div>
        <%= f.label :jenis_anggota, class: 'control-label' %>
        <span class= 'label_required'>*</span>
        <div class="radio">
          <label>
            <%= f.radio_button :jenis_anggota, "Agen", :checked => true %>
            AGEN
          </label>
          <label>
            <%= f.radio_button :jenis_anggota, "SPBE" %>
            SPBE
          </label>
          <label>
            <%= f.radio_button :jenis_anggota, "Lain-lain" %>
            Lain - lain
          </label>
        </div>
        <fieldset>
        <legend>PIC / Contact Person</legend>
          <div class='form-group'>
            <%= f.label "Nama PIC", "Nama PIC", class: 'control-label' %>
            <span class= 'label_required'>*</span>
            <%= f.text_field :pic_nama, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label "Telp PIC", "Telp PIC", class: 'control-label' %>
            <span class= 'label_required'>*</span>
            <%= f.text_field :pic_telp, class: 'form-control' %>
          </div>
        </fieldset>
        <div class="form-group">
          <%= label_tag :verification, "Vefification", class: 'control-label' %>
          <%= recaptcha_tags %>
        </div>
        <div class='bottom-field row'>
          <div class='pull-right'>
            <%= f.submit "Save", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

