<div class='inner-body'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class="panel-title">LKP List</h3>
		</div>
		<div class='panel-body'>
			<table class="table">
			<thead>
				<th>Tanggal kejadian</th>
				<th>Jam Kejadian</th>
				<th>Lokasi Kejadian</th>
				<th>Bentuk Kejadian</th>
				<th>Tanggal Pembuatan LKP</th>
				<th>Dibuat Oleh</th>
			</thead>
			<tbody>
				<% @lkps.each_with_index do |lkp| %>
					<tr>
						<td><%= link_to lkp.tanggal_kejadian.strftime("%d %B %Y"), lkp %></td>
						<td><%= link_to lkp.jam_kejadian, lkp %></td>
						<td><%= link_to lkp.lokasi_kejadian, lkp %></td>
						<td><%= link_to lkp.bentuk_kejadian, lkp %></td>
						<td><%= link_to lkp.created_at.strftime("%d %B %Y"), lkp %></td>
						<td><%= link_to lkp.user.nama, lkp %></td>
					</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</div>
</div
<%= paginate @lkps %>