<div class='inner-body'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class="panel-title">Admin List</h3>
		</div>
		<div class='panel-body'>
			<%= link_to new_admin_path, class: "btn btn-primary" do %>New Admin<% end %>
			<table class='table'>
			<thead>
				<th>Email for login</th>
				<th>Email Recovery</th>
				<th>Nama</th>
				<Th colspan=2></th>
			</thead>
			<tbody>
				<% @admins.each_with_index do |admin| %>
					<tr>
						<td><%= admin.email %></td>
						<td><%= admin.email_recovery %></td>
						<td><%= admin.nama %></td>
						<td><%= link_to edit_admin_path(admin), class: "btn btn-xs btn-default" do %><span class="glyphicon glyphicon-pencil"></span> Update<% end %></td>
						<td><%= link_to  admin_path(admin), :method=>"DELETE", :data => {:confirm => 'Are you sure?'}, class: "btn btn-xs btn-danger" do %><span class="glyphicon glyphicon-remove"></span> Delete<% end %></td>
					</tr>
				<% end %>
			</tbody>
			</table>
			<%= paginate @admins %>
		</div>
	</div>
</div>