<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('/assets/business-people-discussing.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/Business-People-Cheering-cropped.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/Bumber-seven-Business-People.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/business-people-discussing.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 4</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/Business-People-Cheering-cropped.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 5</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/Bumber-seven-Business-People.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 6</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class='mid_wrapper'>
	<div class="row" id="about_us">
	<div class='col-md-12'>
		<div class='col-md-8 about_us'>
			<%= image_tag "Bumber-seven-Business-People.jpg", width: 475 %>
			<h3 style="text-align: right;">About Us</h3>
			<div class="contain_about">
				Ini adalah web sistem integrasi Kartu Izin Masuk milik pertamina. Kami memberikan pelayanan menyeluruh untuk pendaftaran Kartu Izin Masuk bagi skid tank dan truk guna dapat memasuki area wilayah kami guna kepentingan usaha. Dengan web ini diharapkan semakin mempermudah masyarakat dan bisa membantu banyak dalam efisiensi waktu pada saat pengurusan Kartu Izin Masuk.
			</div>
		</div>

		<div class='col-md-4'>
			<% if !user_signed_in? %>
			<div class="login_side">
				<%= form_for(:user, :url => session_path(:user)) do |f| %>
					<div class="form-group">
						<%= f.label :email, class: 'control-label' %>
						<%= f.email_field :email, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :password, class: 'control-label' %>
						<%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
					</div>

					<!-- <div class="g-recaptcha" data-sitekey="6LfOHAgTAAAAABb86qr2DUCJcWmNf9gRW_qmzCuC"></div> -->
					<div class="form-group">
						<%= f.check_box :remember_me %>
						<%= f.label :remember_me %>
					</div>
					<div class="row">
					<div class="col-md-6">

						<%= link_to new_register_path, class: 'btn btn-default' do %>New Member<% end %>
					</div>
					<div class="col-md-6">
						<%= f.submit "Log in", class: 'btn btn-primary pull-right' %>
					</div>
					</div>
					<div style="margin-top: 10px;"><%= link_to "Forgot your password?", new_password_path(:user) %></div>
				<% end %>
			</div>
			<% else %>
				<section>
				  <article><%= image_tag "Bumber-seven-Business-People.jpg", width: 200 %></article>
				  <article><%= image_tag "Bumber-seven-Business-People.jpg", width: 200 %></article>
				  <article><%= image_tag "Bumber-seven-Business-People.jpg", width: 200 %></article>
				</section>
			<% end %>
		</div>
		</div>
	</div>

	<div id="prosedur" class="prosedur">
	<h3>Prosedur</h3>
	</div>

	<div id="prasyarat" class="prasyarat">
		<h3>Prasyarat</h3>
		<div role="tabpanel">
			  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#agen" aria-controls="agen" role="tab" data-toggle="tab">Agen</a></li>
		    <li role="presentation"><a href="#spbe" aria-controls="spbe" role="tab" data-toggle="tab">SPBE</a></li>
		    <li role="presentation"><a href="#lain" aria-controls="lain" role="tab" data-toggle="tab">Lain - Lain</a></li>
		  </ul>

		  <div class="tab-content">
			  <div role="tabpanel" class="tab-pane fade in active" id="agen">
			  	<ol>
			  		<li>Attachment Scan Surat Permohonan Pengajuan / Pembuatan KIM</li>
			  		<li>Attachment Scan Buku Uji Berkala Kendaraan Bermotor (KEUR / KIR)</li>
			  		<li>Attachment Scan Surat Izin Mengemudi (SIM) Pengemudi minimal B1</li>
			  		<li>Attachment Scan Surat Tanda Nomor Kendaraan (STNK)</li>
			  		<li>Attachment Kartu Tanda Penduduk (KTP) Pengemudi </li>
			  	</ol>
			  </div>
			  <div role="tabpanel" class="tab-pane fade" id="spbe">
			  	<ol>
			  		<li>Attachment Scan Surat Permohonan Pengajuan / Pembuatan KIM</li>
			  		<li>Attachment Scan Buku Uji Berkala Kendaraan Bermotor (KEUR / KIR) head dan skid tank</li>
			  		<li>Attachment Scan Surat Izin Mengemudi (SIM) Pengemudi minimal B2</li>
			  		<li>Attachment Scan Surat Tanda Nomor Kendaraan (STNK)</li>
			  		<li>Attachment Kartu Tanda Penduduk (KTP) Pengemudi</li>
			  		<li>Attachment Scan Sertifikat Tera</li>
			  	</ol>
			  </div>
			  <div role="tabpanel" class="tab-pane fade" id="lain">
			  	<ol>
			  		<li> Attachment Scan Surat Permohonan Pengajuan / Pembuatan KIM</li>
						<li> Attachment Scan Buku Uji Berkala Kendaraan Bermotor (KEUR / KIR) </li>
						<li> Attachment Scan Surat Izin Mengemudi (SIM) Pengemudi</li>
						<li> Attachment Scan Surat Tanda Nomor Kendaraan (STNK)</li>
						<li> Attachment Kartu Tanda Penduduk (KTP) Pengemudi </li>
						<li> Attachment Scan Sertifikat Tera (tergantung kondisi kendaraan)</li>
			  	</ol>
			  </div>
			</div>
		</div>
	</div>

	<div id="highlight" class="highlight">
		<h3>Highlight</h3>
		<div class="row">
			<div class="col-md-5">
				<div class='panel panel-default'>
					<div class='panel-heading'>
						<h3 class="panel-title">KIM Yang Akan Mati</h3>
					</div>
					<div class='panel-body'>
						<ul class="kim_mati">
						<% @top_5_last_kim .each do |kim| %>
							<li><%= kim.no_polisi %></li>
						<% end %>
					</ul>
					</div>
				</div>
			</div>

			<div class="pull-right col-md-7">
				<div class="video_title"> Video Keselamatan Kerja </div>
				<iframe width="100%" height="310" src="https://www.youtube.com/embed/09R8_2nJtjg" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<div id="our_crew" class="our_crew">
		<div class="row">
	<div class="col-md-7">
		<h3>Our Crew</h3>
		<div class="container-fluid">
<div class="row-fluid">
<div class="span12">

    <div class="carousel slide" id="myCarousel2">
        <div class="carousel-inner">
            <div class="item active">
                <ul class="thumbnails">
                    <li class="span3">
                      <div class="thumbnail">
                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="thumbnail">
                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="thumbnail">
                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                      </div>
                    </li>
                </ul>
              </div><!-- /Slide1 -->
            <div class="item">
                    <ul class="thumbnails">
                        <li class="span3">
                      <div class="thumbnail">
                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="thumbnail">
                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="thumbnail">
                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                      </div>
                    </li>
                    </ul>
              </div><!-- /Slide2 -->
            <div class="item">
                    <ul class="thumbnails">
                        <li class="span3">
                      <div class="thumbnail">
                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="thumbnail">
                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                      </div>
                    </li>
                    <li class="span3">
                      <div class="thumbnail">
                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                      </div>
                    </li>
                    </ul>
              </div><!-- /Slide3 -->
        </div>

        <div class="control-box">
            <a data-slide="prev" href="#myCarousel2" class="carousel-control left" style="position: absolute; top: 30%;">‹</a>
            <a data-slide="next" href="#myCarousel2" class="carousel-control right" style="position: absolute; top: 30%; right: -1%;">›</a>
        </div><!-- /.control-box -->

    </div><!-- /#myCarousel -->

</div><!-- /.span12 -->
</div><!-- /.row -->
</div><!-- /.container -->

	</div>
	<div class="col-md-5">
		<div class="top_crew">
			<h3>Best Crew of the Month</h3>
      <% if @top_crew.present? %>
			<%= image_tag "#{@top_crew.first.photo.url(:medium)}", width: 175, class: "img-thumbnail" %>
      <% end %>
		</div>
	</div>
</div>
	</div>
</div>

<div id="contact_us" class='bot_wrapper row'>
	<div class='col-md-4'>
		<%= form_tag(homepages_path, :method=>"POST") do %>
		<div class="form-group row">
			<div class='col-md-6'>
				<%= text_field_tag :nama,nil, class: 'form-control', :placeholder=>"Nama" %>
			</div>
			<div class='col-md-6'>
				<%= email_field_tag :email,nil, class: 'form-control', :placeholder=>"Email" %>
			</div>

		</div>
		<div class="form-group">
			<%= text_area_tag :konten,nil, autocomplete: "off",rows: 7, class: 'form-control', :placeholder=>"Pesan" %>
		</div>
		<div class="form-group">
      <div class="pull-left">
      <%= recaptcha_tags %>
    </div>
    <div class="pull-right">
			<%= submit_tag "Submit", class: 'btn btn-primary', style: "margin-top: 20px;" %>
    </div>
		</div>
		<% end %>
	</div>
	<div class="col-md-4">
		<iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=123+Flinders+St+Melbourne+VIC+3000&amp;sll=-41.6311,146.14501&amp;sspn=8.718822,12.733154&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=123+Flinders+St,+Melbourne+Victoria+3000&amp;z=14&amp;ll=-37.817638,144.967174&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=123+Flinders+St+Melbourne+VIC+3000&amp;sll=-41.6311,146.14501&amp;sspn=8.718822,12.733154&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=123+Flinders+St,+Melbourne+Victoria+3000&amp;z=14&amp;ll=-37.817638,144.967174" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
	<div class='col-md-4 information'>
		<div class='form-group'>
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>jasdinasfa.com
		</div>
		<div class='form-group'>
			<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(031)- 983749823742
		</div>
		<div class='form-group'>
			<span class='glyphicon glyphicon-print' aria-hidden="true"></span>(031)- 983749823742
		</div>
		<div class='form-group'>
			<span class='glyphicon glyphicon-map-marker' aria-hidden="true"></span>jalan surabaykjan jahsda
		</div>
	</div>
</div>

<% if user_signed_in? && current_user.role = "User" %>
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var $_Tawk_API={},$_Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/55784a23ff005a34523a7329/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
<% end %>

<script>
$(this).scrollTop(0);
$(function() {


 $('.carousel').carousel({
   interval: 2500 //changes the speed
  })
});

</script>
