
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('/assets/business-people-discussing.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/Business-People-Cheering-cropped.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/Bumber-seven-Business-People.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/business-people-discussing.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 4</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/Business-People-Cheering-cropped.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 5</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/Bumber-seven-Business-People.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 6</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class='mid_wrapper row'>
	<div class='col-md-12'>
		<div class='col-md-8 about_us'>
			<h3>About US</h3>
			Ini adalah web sistem integrasi Kartu Izin Masuk milik pertamina. Kami memberikan pelayanan menyeluruh untuk pendaftaran Kartu Izin Masuk bagi skid tank dan truk guna dapat memasuki area wilayah kami guna kepentingan usaha. Dengan web ini diharapkan semakin mempermudah masyarakat dan bisa membantu banyak dalam efisiensi waktu pada saat pengurusan Kartu Izin Masuk.
		</div>

		<div class='login_side col-md-4'>
			<% if !user_signed_in? %>
		<%= form_for(:user, :url => session_path(:user)) do |f| %>
			<div class="form-group">
				<%= f.label :email, class: 'control-label' %>
				<%= f.email_field :email, autofocus: true, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :password, class: 'control-label' %>
				<%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me %>
			</div>
			<div class='pull-left'>
				<%= link_to "Forgot your password?", new_password_path(:user) %>
				<%= link_to new_register_path, class: 'btn btn-default' do %>New Member<% end %>
			</div>
			<div class='pull-right'>
				<%= f.submit "Log in", class: 'btn btn-primary' %>
			</div>
			<% end %>


		<% end %>
	</div>
</div>
</div>

<div class='bot_wrapper row'>
	<div class='col-md-7'>
		<%= form_for(:user, :url => session_path(:user)) do |f| %>
		<div class="form-group row">
			<div class='col-md-6'>
				<%= f.text_field :name, autofocus: true, class: 'form-control' %>
			</div>
			<div class='col-md-6'>
				<%= f.email_field :email, class: 'form-control' %>
			</div>

		</div>
		<div class="form-group">
			<%= f.text_area :essay, autocomplete: "off",rows: 7, class: 'form-control' %>
		</div>

		<div class="pull-right">
			<%= f.submit "Submit", class: 'btn btn-primary' %>
		</div>
		<% end %>
	</div>
	<div class='col-md-5 information'>
		<div class='form-group'>
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>jasdinasfa.com
		</div>
		<div class='form-group'>
			<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(031)- 983749823742
		</div>
		<div class='form-group'>
			<span class='glyphicon glyphicon-map-marker' aria-hidden="true"></span>jalan surabaykjan jahsda
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
 $('.carousel').carousel({
   interval: 2500 //changes the speed
  })
});
</script>