<div class='inner-body'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class="panel-title">Edit Info</h3>
		</div>
		<div class='panel-body'>
			<%= form_for(@user, url: dashboard_path(@user), :method=>"PUT") do |f| %>

			<div class="form-group">
				<%= f.label "Nama", class: "control-label" %>
				<%= f.text_field :nama, :readonly=>true, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label "Email for Login", class: "control-label" %>
				<%= f.text_field :email, :readonly=>true, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label "Email Recovery","Email Recovery".html_safe, class: "control-label" %>
				<%= f.text_field :email_recovery, :required=>true, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label "Kota/Kabupaten", "Kota / Kabupaten", class: 'control-label' %>
				<%= f.select :kota, options_from_collection_for_select(Kabupaten.all, 'nama', 'nama', :selected=>@user.kota), {}, class: 'form-control', required: true %>
			</div>
			<div class="form-group">
				<%= f.label "","Alamat".html_safe, class: "control-label" %>
				<%= f.text_area :alamat , :required=>true, class: "form-control"%>
			</div>
			<div class="form-group">
				<%= f.label "Telp","Telp".html_safe, class: "control-label" %>
				<%= f.text_field :telp, :required=>true, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label "Fax", class: "control-label" %>
				<%= f.text_field :fax, class: "form-control" %>
			</div>
			<% if current_user.role == "User" %>
				<fieldset>
		        	<legend>PIC / Contact Person</legend>
		          <div class='form-group'>
		            <%= f.label "Nama PIC", "Nama PIC", class: 'control-label' %>
		            <%= f.text_field :pic_nama, :required=>true, class: 'form-control' %>
		          </div>
		          <div class='form-group'>
		            <%= f.label "Telp PIC", "Telp PIC", class: 'control-label' %>
		            <%= f.number_field :pic_telp, :required=>true, class: 'form-control' %>
		          </div>
		        </fieldset>
	        <% end %>
			<div class="form-group">
				<%= f.label "Profile Picture","Profile Picture <font size=2 style='font-weight:normal;'><i>max 500 kilobytes, format: jpeg,png,gif</i></font>".html_safe, class: "control-label" %>
				<%= f.file_field :photo, :class=>"avatar" %>
			</div>
			<div class="form-group">
				<div id="target_user_photo">
					<%= image_tag current_user.photo.url(:medium), class: "img-thumbnail" %>
				</div>
			</div>
			<div class='bottom-field row'>
				<div class='pull-right'>
					<%#= link_to "back", dashboards_path , class: 'btn btn-default', style: "margin-right: 10px;" %>
					<%= f.submit "Save", class: 'btn btn-primary', 'data-disable-with'=> "Wait.."  %>
				</div>
			</div>
		</div>
	</div>
</div>

<% end %>

<script>
$(function() {
$("#user_kota").select2();
  $('.avatar').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      var id = event.target.id;
      $('#target_'+id).addClass('img-thumbnail');
      $('#target_'+id).html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});




</script>