<%= form_for(@kim) do |f| %>

  <% if @kim.message != nil %>
    Alasan di Rollback:
    <%= @kim.message %></br></br>
  <% end %>
  <fieldset>
    <legend>Info</legend>
    <%= f.label "Jenis SIM","Jenis SIM <font color=red>*</font>".html_safe, class: "control-label" %>
    <div class="checkbox">
      <label>
        <%= f.radio_button :jenis_sim, "B1", :checked => true %>
        B1
      </label>
      <label>
        <%= f.radio_button :jenis_sim, "B2" %>
        B2
      </label>
    </div>

    <div class='form-group'>
      <%= f.label "No Polisi","No Polisi <font color=red>*</font>".html_safe, class: "control-label" %>
      <%= f.text_field :no_polisi, class: "form-control", :required=>true %>
    </div>

    <%= f.label "Tipe","Tipe <font color=red>*</font>".html_safe %>
    <div class="checkbox">
      <label>
        <%= f.radio_button :tipe, "Skid Tank", :checked => true %>
        Skid Tank
      </label>
      <label>
        <%= f.radio_button :tipe, "Truck Tabung 3KG" %>
        Truck Tabung 3KG
      </label>
      <label>
        <%= f.radio_button :tipe, "Truck Tabung 12KG" %>
        Truck Tabung 12KG
      </label>
    </div>

    <div class='form-group'>
      <%= f.label "Kapasitas Tangki","Kapasitas Tangki <font color=red>*</font>".html_safe, class: "control-label" %>
      <%= f.number_field :kapasitas_tangki,  class: "form-control", :required=>true %>
    </div>

    <div class='form-group'>
      <%= f.label "Upload KTP", "Upload KTP <font color=red>*</font> <font size=2 style='font-weight:normal;'><i>max file size 1mb</i></font>".html_safe, class: "control-label" %>
        <% if params[:action] == "update" or params[:action] == "edit" %>
          <%= f.file_field :ktp,  class: "avatar" %>
          <div id="target_kimm_ktp">
            <%= image_tag @kim.ktp.url(:medium) %>
          </div>
        <% else %>
          <%= f.file_field :ktp,  class: "avatar", :required=>true %>
          <div id="target_kimm_ktp">
          </div>
        <% end %>
    </div>

    <div class='form-group'>
      <%= f.label "Upload Surat Permohonan","Upload Surat Permohonan <font color=red>*</font> <font size=2 style='font-weight:normal;'><i>max file size 1mb</i></font>".html_safe, class: "control-label" %>
      <% if params[:action] == "update" or params[:action] == "edit" %>
        <%= f.file_field :surat_permohonan,  class: "avatar" %>
        <div id="target_kimm_surat_permohonan">
          <%= image_tag @kim.surat_permohonan.url(:medium) %>
        </div>
      <% else %>
        <%= f.file_field :surat_permohonan,  class: "avatar", :required=>true %>
        <div id="target_kimm_surat_permohonan">
        </div>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <legend>SIM</legend>
    <div class="row">
      <div class="col-md-6">
        <div class='form-group'>
          <%= f.label "Masa Berlaku SIM","Masa Berlaku SIM <font color=red>*</font>".html_safe, class: "control-label" %>
          <div class='input-group date'>
            <%= f.text_field :masa_berlaku_sim, class: "form-control",:readonly=>true %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
        <div class='form-group'>
        <%= f.label "Upload SIM","Upload SIM <font color=red>*</font> <font size=2 style='font-weight:normal;'><i>max file size 1mb</i></font>".html_safe, class: "control-label" %>
        <% if params[:action] == "update" or params[:action] == "edit" %>
            <%= f.file_field :sim,  class: "avatar" %>
        <% else %>
            <%= f.file_field :sim,  class: "avatar",:required=>true %>
        <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="target_kimm_sim">
          <% if params[:action] == "update" or params[:action] == "edit" %>
            <%= image_tag @kim.sim.url(:medium) %>
          <% end %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>STNK</legend>
    <div class="row">
      <div class="col-md-6">
        <div class='form-group'>
          <%= f.label "Masa Berlaku STNK","Masa Berlaku STNK <font color=red>*</font>".html_safe, class: "control-label" %>
          <%#= f.date_field :masa_berlaku_stnk %>
          <div class='input-group date'>
            <%= f.text_field :masa_berlaku_stnk, class: "form-control",:readonly=>true %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
        <div class='form-group'>
          <%= f.label "Upload stnk","Upload STNK <font color=red>*</font> <font size=2 style='font-weight:normal;'><i>max file size 1mb</i></font>".html_safe, class: "control-label" %>
          <% if params[:action] == "update" or params[:action] == "edit" %>
              <%= f.file_field :stnk,  class: "avatar" %>
          <% else %>
              <%= f.file_field :stnk,  class: "avatar", :required=>true %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="target_kimm_stnk">
          <% if params[:action] == "update" or params[:action] == "edit" %>
            <%= image_tag @kim.stnk.url(:medium) %>
          <% end %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>KIR</legend>
    <div class="row">
      <div class="col-md-6">
        <div class='form-group'>
          <%= f.label "Masa Berlaku KIR","Masa Berlaku KIR <font color=red>*</font>".html_safe, class: "control-label" %>
          <%#= f.date_field :masa_berlaku_kir %>
           <div class='input-group date'>
            <%= f.text_field :masa_berlaku_kir, class: "form-control",:readonly=>true %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
        <div class='form-group'>
          <%= f.label "Upload KIR", "Upload KIR <font color=red>*</font> <font size=2 style='font-weight:normal;'><i>max file size 1mb</i></font>".html_safe, class: "control-label" %>
          <% if params[:action] == "update" or params[:action] == "edit" %>
            <%= f.file_field :kir,  class: "avatar" %>
          <% else %>
            <%= f.file_field :kir,  class: "avatar", :required=>true %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="target_kimm_kir">
          <% if params[:action] == "update" or params[:action] == "edit" %>
            <%= image_tag @kim.kir.url(:medium) %>
          <% end %> 
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>TERA</legend>
    <div class="row">
      <div class="col-md-6">
        <div class='form-group'>
          <%= f.label "Masa Berlaku TERA","Masa Berlaku TERA <font color=red>*</font>".html_safe, class: "control-label" %>
          <%#= f.date_field :masa_berlaku_tera %>
           <div class='input-group date'>
              <%= f.text_field :masa_berlaku_tera, class: "form-control",:readonly=>true %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class='form-group'>
          <%= f.label "Upload TERA","Upload TERA <font color=red>*</font> <font size=2 style='font-weight:normal;'><i>max file size 1mb</i></font>".html_safe, class: "control-label" %>
          <% if params[:action] == "update" or params[:action] == "edit" %>
              <%= f.file_field :tera,  class: "avatar" %>
          <% else %>
              <%= f.file_field :tera,  class: "avatar",:required=>true %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="target_kimm_tera">
          <% if params[:action] == "update" or params[:action] == "edit" %>
            <%= image_tag @kim.tera.url(:medium) %>
          <% end %>
        </div>
      </div>
    </div>
  </fieldset>
<b>Note: <font color=red>*</font> wajib di isi</b>
	<div class='bottom-field row'>
    <div class='pull-right'>
      <%= link_to "back", kimms_path , class: 'btn btn-default', style: "margin-right: 10px;" %>
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>

<script>
$(function() {

  $('.avatar').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      var id = event.target.id;
      $('#target_'+id).addClass('img-thumbnail');
      $('#target_'+id).html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});
</script>