<table class='table'>
	<thead>
		<th>Jenis SIM</th>
		<th>No Polisi</th>
		<th>Tipe</th>
		<th>Kapasitas</th>
		<th>No Registrasi</th>
		<th>Admin Approval</th>
		<th>Crew Approval</th>
		<th colspan=3>Status</th>
		<th>Print</th>
	</thead>
	<tbody>
		<% @kims.each_with_index do |kim| %>
			<tr>
				<td><%= link_to kim.jenis_sim, kim %></td>
				<td><%= link_to kim.no_polisi, kim %></td>
				<td><%= link_to kim.tipe, kim %></td>
				<td><%= link_to kim.kapasitas, kim %></td>
				<td><%= link_to kim.no_registrasi == nil ? "-" : kim.no_registrasi, kim %></td>
				<td>
					<% if kim.admin_approval==nil and kim.message==nil %>
						<%= "Waiting.." %>
					<% else %>
						<% if kim.message != nil %>
							<%= "Rollback" %>
						<% else %>
							<% if kim.admin_approval == true %>
							 	<%= "Approved by #{kim.admin_approved_by}" %>
							<% else %>
								<%= "Rejected" %>
							<% end %>
						<% end %>
					<% end %>
				</td>
				<td><%= kim.crew_approval==nil ? "Waiting.." : kim.crew_approval==true ? "Approved by #{kim.crew_approved_by}" : "Rejected" %></td>


				<% if kim.admin_approval == nil and kim.message == nil %>

				<td><%= link_to "Approve", edit_kimm_path(kim, :status=>"approve"), 'data-disable-with'=> "Wait..", :class=>"btn btn-xs btn-success" %></td>
				<td><a onclick="show_modal('<%= kim.id %>');" style="cursor:pointer;" class="btn btn-xs btn-warning">Rollback</a></td>
				<td><%= link_to "Reject", edit_kimm_path(kim, :status=>"reject"), 'data-disable-with'=> "Wait..", :class=>"btn btn-xs btn-danger" %></td>
				<% else %>
					<td></td>
					<td></td>
					<td></td>
				<% end %>
				<td>
					<% begin %>
						<% if kim.admin_approval == true and kim.crew_approval == true and kim.expired_date.to_date >= Time.now.to_date %>
							<%= link_to "<span class='glyphicon glyphicon-print'></span> Print".html_safe ,pdf_kim_path(:id=>kim.id),:class=>"btn btn-info btn-xs" %>
						<% elsif kim.expired_date.to_date < Time.now.to_date %>
							-
						<% end %>
					<% rescue %>
						-
					<% end %>
				</td>
			</tr>
		<% end %> <!-- end do -->
	</tbody>
</table>
<%= paginate @kims %>


<script>
function show_modal(id){
	$.get("/kim_approval", {rollback_id: id}, null, "script");

}
</script>

<div id="modal"></div>