<table class='table'>
	<thead>
		<th>Jenis SIM</th>
		<th>No Polisi</th>
		<th>Tipe</th>
		<th>Kapasitas</th>
		<th>No Registrasi</th>
		<th>Superadmin Approval</th>
		<th>Asisten HSE Approval</th>
		<th>Crew</th>
		<% if cannot? :generate_kim, current_user %>
			<th colspan=3>Status</th>
		<% end %>
		<% if can? :generate_kim, current_user %>
			<th>Print</th>
		<% end %>
		<% if cannot? :generate_kim, current_user %>
			<th>Block</th>
		<% end %>
	</thead>
	<tbody>
		<% @kims.each_with_index do |kim| %>
			<tr>
				<td><%= link_to kim.jenis_sim, kim %></td>
				<td><%= link_to kim.no_polisi, kim %></td>
				<td><%= link_to kim.tipe, kim %></td>
				<td><%= link_to kim.kapasitas, kim %></td>
				<td><%= link_to kim.no_registrasi == nil ? "-" : kim.no_registrasi, kim %></td>
				<td>
					<% if kim.admin_approval==nil and kim.message==nil %>
						<%= "Waiting.." %>
					<% else %>
						<% if kim.message != nil %>
							<%= "Rollback" %>
						<% else %>
							<% if kim.admin_approval == true %>
							 	<span class="glyphicon glyphicon-ok"></span><%= " #{kim.admin_approved_by}" %>
							<% else %>
								<%= "<span class='glyphicon glyphicon-remove'></span>" %>
							<% end %>
						<% end %>
					<% end %>
				</td>
				<td><%= kim.crew_approval==nil ? "Waiting.." : kim.crew_approval==true ? "<span class='glyphicon glyphicon-ok'></span> #{kim.crew_approved_by}".html_safe : "<span class='glyphicon glyphicon-remove'></span>" %></td>
				<td>
					<%= kim.reference %>
				</td>
				<% if cannot? :generate_kim, current_user %>
					<% if kim.admin_approval == nil and kim.message == nil and kim.crew_approval!=nil %>

					<td><%= link_to "Approve", edit_kimm_path(kim, :status=>"approve"), 'data-disable-with'=> "Wait..", :class=>"btn btn-xs btn-success", :data => {:confirm => 'Are you sure?'} %></td>
					<td><a onclick="show_modal('<%= kim.id %>');" style="cursor:pointer;" class="btn btn-xs btn-warning">Rollback</a></td>
					<td><%= link_to "Reject", edit_kimm_path(kim, :status=>"reject"), 'data-disable-with'=> "Wait..", :class=>"btn btn-xs btn-danger", :data => {:confirm => 'Are you sure?'} %></td>
					<% else %>
						<% if kim.expired_date != nil %>
							<% if Time.now.to_date > kim.expired_date.to_date %>
								<td colspan=3><font color=red><center><b>Expired</b></center></font></td>
							<% else %>
								<td colspan=3><center><b>Active</b></center></td>
								
							<% end %>
						<% end %>
					<% end %>
				<% end %>
				<td>
					<% if can? :generate_kim, current_user %>
						<% begin %>
							<% if kim.admin_approval == true and kim.crew_approval == true and kim.expired_date.to_date >= Time.now.to_date and kim.status == true %>
								<%= link_to "<span class='glyphicon glyphicon-print'></span> Print".html_safe ,pdf_kim_path(:id=>kim.id),:class=>"btn btn-info btn-xs" %>
							<% elsif kim.expired_date.to_date < Time.now.to_date %>
								-
							<% end %>
						<% rescue %>
							-
						<% end %>
					<% end %>
				</td>
				<% if cannot? :generate_kim, current_user %>
					<td>
						<% begin %>
							<% if kim.admin_approval == true and kim.crew_approval == true and kim.expired_date.to_date >= Time.now.to_date %>

								<% if kim.status == true %>
									<%= link_to "<span class='glyphicon glyphicon-remove'></span> Block".html_safe ,kimm_path(kim.id, :status=>false),:class=>"btn btn-danger btn-xs" %>
								<% else %>
									<%= link_to "<span class='glyphicon glyphicon-ok'></span> Unblock".html_safe ,kimm_path(kim.id, :status=>true),:class=>"btn btn-info btn-xs" %>
								<% end %>
							<% elsif kim.expired_date.to_date < Time.now.to_date %>
								-
							<% end %>
						<% rescue %>
							-
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %> <!-- end do -->
	</tbody>
</table>
<%= paginate @kims %>


<script>
function show_modal(id){
	$.get("/kim_approval", {rollback_id: id}, null, "script");

}
</script>

<div id="modal"></div>