<table class='table'>
	<thead>
		<th>Jenis SIM</th>
		<th>No Polisi</th>
		<th>Tipe</th>
		<th>Kapasitas</th>
		<th>No Registrasi</th>
		<th>Admin Approval</th>
		<th>Crew Approval</th>
		<th colspan=3>Status</th>
	</thead>
	<tbody>
		<% @kims.each_with_index do |kim| %>
			<tr>
				<td><%= link_to kim.jenis_sim, kim %></td>
				<td><%= kim.no_polisi %></td>
				<td><%= kim.tipe %></td>
				<td><%= kim.kapasitas %></td>
				<td><%= kim.no_registrasi == nil ? "-" : kim.no_registrasi %></td>
				<td><%= kim.admin_approval==nil ? "Waiting..." : kim.admin_approval %></td>
				<td><%= kim.crew_approval==nil ? "Waiting..." : kim.crew_approval %></td>
				<td><%= link_to "Approve", edit_kimm_path(kim, :status=>"approve") %></td>
				<td><%= link_to "Rollback", edit_kimm_path(kim,:status=>"rollback", :message=>"asdasdasdasd") %></td>
				<td><%= link_to "Reject", edit_kimm_path(kim, :status=>"reject") %></td>
			</tr>
		<% end %> <!-- end do -->
	</tbody>
</table>
<%= paginate @kims %>
