<!DOCTYPE html>
<html>
<head>
  <title>Kim</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
	  <script>
    <% if notice %>
    global_notif('<%= notice %>', "success")
    <% end %>
    <% if alert %>
    global_notif('<%= alert %>', "danger")
    <% end %>
    </script>
  <%= render 'layouts/menu' %>
	<%= yield %>
	<footer>
		Copyright 2015
	</footer>
</body>
</html>
