<!DOCTYPE html>
<html>
<head>
  <title>Kim</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <link rel="icon" type="image/png" href="/assets/Favicon 128.png" />
</head>
<body>
	  <script>
    <% if notice %>
    global_notif('<%= notice %>', "success")
    <% end %>
    <% if alert %>
    global_notif('<%= alert %>', "danger")
    <% end %>
    </script>

    <div class="one_page" >
<%= render 'layouts/menu2' %>
	<%= yield %>

</div>
  <footer >
    Copyright Pertamina 2015 All Right Reserved
  </footer>
</body>
</html>