<%= form_for(@member) do |f| %>
  <div class="form-group">
   	<%= f.label "Email for login" , class: "control-label" %>
      <% if params[:action] == "edit" or params[:action] == "update" %>
        <%= f.text_field :email, :disabled=>true, class: "form-control" %>
      <% else %>
        <%= f.text_field :email, :required=>true, class: "form-control" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label "Nama" , class: "control-label" %>
      <% if params[:action] == "edit" or params[:action] == "update" %>
        <%= f.text_field :nama, :disabled=>true, class: "form-control" %>
      <% else %>
        <%= f.text_field :nama, :required=>true , class: "form-control"%>
    <% end %>
  </div>

  <% if params[:action] == "edit" or params[:action] == "update" %>
    <div class="form-group">
      <%= f.label "Email Recovery","Email Recovery" , class: "control-label" %>
      <%= f.email_field :email_recovery, :required=>true, class: "form-control" %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label "Password", "Password <font size=2 style='font-weight:normal;'><i>(Minimal 7 character)</i></font>".html_safe , class: "control-label" %>
      <%= f.password_field :password, :required=>true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Password Confirmation","Password Confirmation <font size=2 style='font-weight:normal;'><i>(Minimal 7 character)</i></font>".html_safe , class: "control-label" %>
      <%= f.password_field :password_confirmation, :required=>true, class: "form-control" %>
    </div>
  <% end %>
  <div class='bottom-field row'>
    <div class='pull-right'>
      <%= link_to "back", admins_path , class: 'btn btn-default', style: "margin-right: 10px;" %>
      <%= f.submit "Save", class: 'btn btn-primary', 'data-disable-with'=> "Wait.." %>
    </div>
  </div>

<% end %>