<%= form_tag new_member_path, :method=>"GET" do %>
<div class="pull-right">
	<%= submit_tag "Approve All", 'data-disable-with'=> "Wait..", :data => {:confirm => 'Approve semuanya ?'}, class: "btn btn-success btn-sm" %>
	<%= submit_tag "Reject All", 'data-disable-with'=> "Wait..", :data => {:confirm => 'Reject semuanya ?'}, class: "btn btn-danger btn-sm" %></div>
<table class="table">
	<thead>
		<th>Email Untuk Login</th>
		<th>Nama</th>
		<th>Alamat</th>
		<th>Kota / Kabupaten</th>
		<th colspan=2>Status</th>
		<th style="width:5%"></th>
	</thead>
	<tbody>
		<% @users.each_with_index do |user| %>
		<tr>
			<td><%= link_to user.email,member_path(user) %></td>
			<td><%= link_to user.nama, member_path(user) %></td>
			<td><%= link_to user.alamat, member_path(user) %></td>
			<td><%= link_to user.kota, member_path(user) %></td>
			<% if user.admin_approval == false %>
			<td><%= link_to edit_member_path(user,:status=>true), class: 'btn btn-success btn-xs', 'data-disable-with'=> "Wait..", :data => {:confirm => 'Are you sure?'} do %><span class='glyphicon glyphicon-ok'></span> Approve<% end %></td>
			<td><%= link_to edit_member_path(user, :status=>false), class: 'btn btn-xs btn-danger', 'data-disable-with'=> "Wait..", :data => {:confirm => 'Are you sure?'} do %><span class='glyphicon glyphicon-remove'></span> Reject<% end %></td>
			<td><%= check_box_tag "user_#{user.id}", "#{user.id}" %></td>
			<% else %>
				<td>Approved</td>
				<td>
					<%= link_to edit_member_path(user), class: "btn btn-xs btn-default", 'data-disable-with'=> "Wait.." do %><span class="glyphicon glyphicon-pencil"></span> Update<% end %>
				</td>
				<td><%= link_to member_path(user), :method=>"DELETE",:class=>"btn btn-xs btn-danger", 'data-disable-with'=> "Wait..", :data => {:confirm => 'Are you sure?'} do %><span class='glyphicon glyphicon-remove'></span> Delete<% end %></td>
				<td></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<%= paginate @users %>
<% end %>