list users

<%= link_to "Panel", dashboards_path %>

<table border="1">
	<thead>
		<th>Username</th>
		<th>Nama</th>
		<th>Alamat</th>
		<th>Kota / Kabupaten</th>
		<th colspan=2>Status</th>
	</thead>
	<tbody>
		<% @users.each_with_index do |user| %>
			<tr>
				<td><%= user.email %></td>
				<td><%= user.nama %></td>
				<td><%= user.alamat %></td>
				<td><%= user.kota %></td>
				<% if user.admin_approval == false %>
					<td><%= link_to "Approve", edit_member_path(user,:status=>true) %></td>
					<td><%= link_to "Reject", edit_member_path(user, :status=>false) %></td>
				<% else %>
					<td colspan=2>Approved</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

